<a href="https://colab.research.google.com/github/Shubhadagithub/Letsupgrade-Python-Shubhada/blob/master/Shubhada_PythonDay2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Let's Upgrade Python

Day 2 Assignment

**Q1: List and it's default functions.**

In [ ]:
S=["Shubhada","chair","door"]
print(S)

['Shubhada', 'chair', 'door']

1] .append will add a item in end

In [ ]:
S.append("1803026") 
print(S)

['Shubhada', 'chair', 'door', '1803026']

 2] .extend will help to join two lists toghther

In [ ]:
S.extend(["Wheel"])     
print(S)

['Shubhada', 'chair', 'door', '1803026', 'Wheel']

3] .insert will help to insert a item in a particular position

In [ ]:
S.insert(0,"bed")      
print(S)

['bed', 'Shubhada', 'chair', 'door', '1803026', 'Wheel']

4] .remove used to remove a perticular item in the list

In [ ]:
S.remove("bed")        
print(S)

['Shubhada', 'chair', 'door', '1803026', 'Wheel']

5] .pop Removes the item at the given position in the list, if no index is mention pop() then it will remove the last item in the list

In [ ]:
S.pop()                 #.pop example with no index mention               
print(S)

['Shubhada', 'chair', 'door', '1803026']

In [ ]:
S.pop(2)                #.pop example with index
print(S)

['Shubhada', 'chair', '1803026']

**Q2: Dictionary and it's default functions.**

In [ ]:
dit = {"Colour":"Blue", "Flower":"Lotus", "Fruit":"Banana", "Number":1234}

In [ ]:
dit

{'Colour': 'Blue', 'Flower': 'Lotus', 'Fruit': 'Banana', 'Number': 1234}

1] .get() returns value of key

In [ ]:
dit.get('Colour')

'Blue'

2] .items() Returns a list of dictionary (key, value) tuple pairs

In [ ]:
dit.items()

dict_items([('Colour', 'Blue'), ('Flower', 'Lotus'), ('Fruit', 'Banana'), ('Number', 1234)])

3] .keys() Returns list of dictionary keys

In [ ]:
dit.keys()

dict_keys(['Colour', 'Flower', 'Fruit', 'Number'])

4] .values() will  Returns list of dictionary dict's values

In [ ]:
dit.values()

dict_values(['Blue', 'Lotus', 'Banana', 1234])

5] .clear() removes all items from the dictionary.

In [ ]:
dit.clear()
print(dit.clear())

None

**Q3: Sets and it's default functions.**

In [ ]:
st= {"banana", "apple", "jackfruit"}
print(st)

{'banana', 'apple', 'jackfruit'}

1] .add will add a element in the set

In [ ]:
st.add("orange")
print(st)

{'banana', 'apple', 'jackfruit', 'orange'}

2] .discard will remove specified item from set

In [ ]:
st.discard("orange")
print(st)

{'banana', 'apple', 'jackfruit'}

3].copy() will give a copy of set

In [ ]:
x = st.copy()
print(x)

{'banana', 'apple', 'jackfruit'}

4] .update will Update the set with the union of this set and others

In [ ]:
y = {"google", "microsoft", "windows"}
st.update(y)
print(st)

{'banana', 'jackfruit', 'google', 'microsoft', 'apple', 'windows'}

5] .clear will Removes all the elements from the set

In [ ]:
st.clear()
print(st)

set()

**Q4: Tuple and explore default methods**

There are only two default methods are there in tuple data type that are .count() and .index()

In [ ]:
tup=("Mumbai","Pune","Latur",11,11,12)

In [ ]:
tup

('Mumbai', 'Pune', 'Latur', 11, 11, 12)

1] .count() returns the number of times a specified value appears in the tuple.

In [ ]:
tup.count(11)

2

2] .index() method finds the first occurrence of the specified value.

In [ ]:
tup.index(12)

5

**Q5: Strings and explore default methods**

In [ ]:
str="hey, my favourite colour is blue"
print(str)

hey, my favourite colour is blue

1] .capitalize() method returns a string where the first character is Uppercase

In [ ]:
str.capitalize()
print(str.capitalize())

Hey, my favourite colour is blue

2] .upper() method returns a string where all characters are in upper case.

In [ ]:
str.upper()
print(str.upper())

HEY, MY FAVOURITE COLOUR IS BLUE

3] .endswith() method returns True if the string ends with the specified value, otherwise False.

In [ ]:
str.endswith("blue")
print(str.endswith("blue"))

True

4] .title() method returns a string where the first character in every 
word is upper case.

In [ ]:
str.title()
print(str.title())

Hey, My Favourite Colour Is Blue

5] .split() used splits a string into a list.

In [ ]:
str.split()
print(str.split())

['hey,', 'my', 'favourite', 'colour', 'is', 'blue']